@media screen and (max-width: 1024px) {
  .search,
  .resultContainer,
  .number {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media screen and (max-width: 640px) {
  .search,
  .resultContainer,
  .number {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .inputBox input {
    font-size: 12px;
    padding: 10px;
  }

  .logo h3 {
    font-size: 18px;
  }

  .logo svg {
    width: 30px;
    height: 30px;
  }

  .icons svg {
    width: 28px;
    height: 28px;
  }

  .footer p {
    font-size: 12px;
    text-align: center;
    padding: 0 10px;
  }
}
