body {
  background-color: var(--bg);
  color: #af60a6;
}

:root {
  --bg: #fdf9fe;
  --bg-2: #070e10;
  --bg-3: #83ddde;
  --magenta: #9b52a8;
}


h2{
  font-size: 35px;
  margin-top:15px ;
  margin-bottom: 15px;
}

h2 strong{
  margin-top: 20px !important;
  margin-bottom: 20px !important;

}

p{
  margin-top: 10px;
  margin-bottom: 10px;
}
p strong{
  font-size: 20px !important;
}

.inputBox{
  display: flex;
  align-items: center;
  border: 1px solid var(--bg-3);
  border-radius: 10px;
  background-color: var(--bg-2);
  transition: 0.3s ease;
}

.inputBox:hover{
  border-color: var(--magenta)
}

.inputBox input{
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}
